// Body
.bodyIndex{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-color: $colorFondo;
    min-height: 100vh;
   
}