// Estilos Articulo 5

.mainIndex__articulo5{
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50vh;
    grid-template-areas: 
    "espacio1 espacio2 espacio3";
        .mainIndex-articulo5__contenedor1{
            grid-area: espacio1;
            display: flex;
            flex-direction:column;
            align-items:center; 
            justify-content:flex-start;

                .mainIndex-articulo5-contenedor1__imagen{
                    width: 75%;
                    height: 75%;
                    border-radius: 100%;   
                    z-index: 10;
                }
                .mainIndex-articulo5-contenedor1__texto{
                    width: auto;
                    height: 25%;
                    font-family: $font1;
                    font-weight: bold;
                    color: black;
                    font-size: 40px;
                    z-index: 20;
                    
                
                }
            }
            .mainIndex-articulo5__contenedor2{
            grid-area: espacio2;
            display: flex;
            flex-direction:column;
            align-items:center; 
            justify-content:flex-start;   
                .mainIndex-articulo5-contenedor2__imagen{
                    width: 75%;
                    height: 75%;  
                    border-radius: 100%;  
                    z-index: 10;
                }
                .mainIndex-articulo5-contenedor2__texto{
                    width: auto;
                    height: 25%;
                    font-family: $font1;
                    font-weight: bold;
                    color: black; 
                    font-size: 40px;
                    z-index: 20;
                    text-align: center;
                }
            }
            .mainIndex-articulo5__contenedor3{
            grid-area: espacio3;
            display: flex;
            flex-direction: column;     
                .mainIndex-articulo5-contenedor3__texto{
                    width: auto;
                    height: 25%;
                    font-family: $font1;
                    font-weight: bold;
                    color: black; 
                    font-size: 40px;
                    text-align: center;
                }
                .mainIndex-articulo5-contenedor3__box1{
                    display: flex;
                    flex-direction: row;
                    align-items:center; 
                    justify-content:space-evenly;   
                        .mainIndex-articulo5-contenedor3-box1__imagen{
                            width: 100px;
                            height: 100px;
                            
                        }
                        .mainIndex-articulo5-contenedor3-box1__texto{
                            font-family: $font1;
                            font-size: 30px;
                        }
                    }
                    .mainIndex-articulo5-contenedor3__box2{
                    display: flex;
                    flex-direction: row; 
                    align-items:center; 
                    justify-content:space-evenly;
                        .mainIndex-articulo5-contenedor3-box2__imagen{
                            width: 100px;
                            height: 100px;
                        }
                        .mainIndex-articulo5-contenedor3-box2__texto{
                            font-family: $font1;
                            font-size: 30px;
                        }
                }
                    .mainIndex-articulo5-contenedor3__box3{
                    display: flex;
                    flex-direction: row;
                    align-items:center; 
                    justify-content:space-evenly;     
                        .mainIndex-articulo5-contenedor3-box3__imagen{
                            width: 100px;
                            height: 100px;
                        }
                        .mainIndex-articulo5-contenedor3-box3__texto{
                            font-family: $font1;
                            font-size: 30px;
                        }
                }
                
            }
}