// Estilos Main
.mainIndex{
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: $colorFondo;
}

.mainIndex-articulo1__logoCompleto{
    width: 50%;
    height: 80%;
}





