//Articulo 1

.mainIndex__articulo1{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
        .mainIndex-articulo1__logoCompleto{
            width: 35%;
        }
}