// Estilos Articulo 5

.mainIndex__articulo5{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2,50vw);
    grid-template-rows: repeat(2,50vh);
    grid-template-areas: 
    "espacio1 espacio2" 
    "espacio3 espacio3";
        .mainIndex-articulo5__contenedor1{
            grid-area: espacio1;
            display: flex;
            flex-direction:column;
            align-items:center; 
            justify-content:center;  
            width: 100%;
            height: 50vh;
                .mainIndex-articulo5-contenedor1__imagen{
                    width: 70%;
                    height: 25vh;
                    border-radius: 100%;
                    justify-content: center;   
                }
                .mainIndex-articulo5-contenedor1__texto{
                    width: 100%;
                    height: 25%;
                    text-align: center;
                    font-family: $font1;
                    font-weight: bold;
                    color: black;
                    font-size: 40px;      
                
                }
            }
            .mainIndex-articulo5__contenedor2{
            grid-area: espacio2;
            display: flex;
            flex-direction:column;
            align-items:center; 
            justify-content:center;  
            width: 100%;
            height: 50vh;
                .mainIndex-articulo5-contenedor2__imagen{
                    width: 70%;
                    height: 25vh;
                    border-radius: 100%;
                    justify-content: center;
                }
                .mainIndex-articulo5-contenedor2__texto{
                    width: auto;
                    height: 25%;
                    text-align: center;
                    font-family: $font1;
                    font-weight: bold;
                    color: black; 
                    font-size: 40px;
                    z-index: 20;

                }
            }
            .mainIndex-articulo5__contenedor3{
            grid-area: espacio3;
            display: flex;
            flex-direction: column;   
            justify-content: center;
            align-content: center;
            width: 100%;
            height: 50vh;
                .mainIndex-articulo5-contenedor3__texto{
                    
                    font-family: $font1;
                    text-align:center;
                    font-weight: bold;
                    color: black; 
                    font-size: 40px;
                    justify-content: center;
                    align-content: center;
                }
                .mainIndex-articulo5-contenedor3__box1{
                    display: flex;
                    flex-direction: row;
                    align-items:center; 
                    justify-content:space-evenly;   
                        .mainIndex-articulo5-contenedor3-box1__imagen{
                            width: 100px;
                            height: 100px;
                            
                        }
                        .mainIndex-articulo5-contenedor3-box1__texto{
                            font-family: $font1;
                            font-size: 30px;
                            align-items:center; 
                            justify-content:center; 
                        }
                    }
                    .mainIndex-articulo5-contenedor3__box2{
                    display: flex;
                    flex-direction: row; 
                    align-items:center; 
                    justify-content:space-evenly;
                        .mainIndex-articulo5-contenedor3-box2__imagen{
                            width: 100px;
                            height: 100px;
                        }
                        .mainIndex-articulo5-contenedor3-box2__texto{
                            font-family: $font1;
                            font-size: 30px;
                        }
                }
                    .mainIndex-articulo5-contenedor3__box3{
                    display: flex;
                    flex-direction: row;
                    align-items:center; 
                    justify-content:space-evenly;     
                        .mainIndex-articulo5-contenedor3-box3__imagen{
                            width: 100px;
                            height: 100px;
                        }
                        .mainIndex-articulo5-contenedor3-box3__texto{
                            font-family: $font1;
                            font-size: 30px;
                        }
                }
                
            }
}