//Estilos Articulo 3

.mainIndex__articulo3{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center; 
    justify-content: center;
}
