//Estilos Articulo 2

.mainIndex__articulo2{
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "imagen1 texto2 imagen3 texto4"
    "texto1 imagen2 texto3 imagen4";
        .mainIndex-articulo2__imagen1{
            grid-area: imagen1;
            width: 100%;
            height: auto;
          
        } 
        .mainIndex-articulo2__texto1{
            grid-area: texto1;
            font-family: $font1;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: auto;
            height: auto;
            
            
        } 
        .mainIndex-articulo2__imagen2{
            grid-area: imagen2;
            width: 100%;
            height: auto;
            
        } 
        .mainIndex-articulo2__texto2{
            grid-area: texto2;
            font-family: $font1;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5%;
            text-align: center;
        } 
        .mainIndex-articulo2__imagen3{
            grid-area: imagen3;
            width: 100%;
            height: auto;
            
        } 
        .mainIndex-articulo2__texto3{
            grid-area: texto3;
            font-family: $font1;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5%;
            text-align: center;
            
        } 
        .mainIndex-articulo2__imagen4{
            grid-area: imagen4;
            width: 100%;
            height: auto;
                       
        } 
        .mainIndex-articulo2__texto4{
            grid-area: texto4;
            font-family: $font1;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5%;
            text-align: center;
        }  


}


